body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:879px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:37px;
  top:29px;
  width:350px;
  height:879px;
}
#u851 {
  position:absolute;
  left:2px;
  top:432px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u852 {
  position:absolute;
  left:37px;
  top:29px;
  width:350px;
  height:40px;
  color:#FFFFFF;
}
#u853 {
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u854 {
  position:absolute;
  left:67px;
  top:797px;
  width:50px;
  height:50px;
}
#u855 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u856 {
  position:absolute;
  left:143px;
  top:797px;
  width:50px;
  height:50px;
}
#u857 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u858 {
  position:absolute;
  left:218px;
  top:797px;
  width:50px;
  height:50px;
}
#u859 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u860 {
  position:absolute;
  left:307px;
  top:797px;
  width:50px;
  height:50px;
}
#u861 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:78px;
  top:857px;
  width:29px;
  height:16px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:154px;
  top:857px;
  width:29px;
  height:16px;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:236px;
  top:857px;
  width:15px;
  height:16px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:318px;
  top:857px;
  width:29px;
  height:16px;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
