body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:487px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:37px;
  top:29px;
  width:350px;
  height:487px;
}
#u871 {
  position:absolute;
  left:2px;
  top:236px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u872 {
  position:absolute;
  left:67px;
  top:403px;
  width:50px;
  height:50px;
}
#u873 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u874 {
  position:absolute;
  left:143px;
  top:403px;
  width:50px;
  height:50px;
}
#u875 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u876 {
  position:absolute;
  left:218px;
  top:403px;
  width:50px;
  height:50px;
}
#u877 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u878 {
  position:absolute;
  left:307px;
  top:403px;
  width:50px;
  height:50px;
}
#u879 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:78px;
  top:463px;
  width:29px;
  height:16px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:154px;
  top:463px;
  width:29px;
  height:16px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  position:absolute;
  left:236px;
  top:463px;
  width:15px;
  height:16px;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:318px;
  top:463px;
  width:29px;
  height:16px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:121px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:37px;
  top:29px;
  width:350px;
  height:121px;
}
#u889 {
  position:absolute;
  left:2px;
  top:52px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:59px;
}
#u890 {
  position:absolute;
  left:170px;
  top:48px;
  width:84px;
  height:59px;
}
#u891 {
  position:absolute;
  left:2px;
  top:22px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:200px;
  top:107px;
  width:24px;
  height:16px;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:42px;
}
#u894 {
  position:absolute;
  left:37px;
  top:182px;
  width:350px;
  height:42px;
}
#u895 {
  position:absolute;
  left:2px;
  top:13px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:43px;
}
#u896 {
  position:absolute;
  left:37px;
  top:224px;
  width:350px;
  height:43px;
}
#u897 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:45px;
}
#u898 {
  position:absolute;
  left:37px;
  top:267px;
  width:1px;
  height:45px;
}
#u899 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:48px;
}
#u900 {
  position:absolute;
  left:37px;
  top:312px;
  width:1px;
  height:48px;
}
#u901 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:45px;
}
#u902 {
  position:absolute;
  left:38px;
  top:267px;
  width:349px;
  height:45px;
}
#u903 {
  position:absolute;
  left:2px;
  top:14px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:48px;
}
#u904 {
  position:absolute;
  left:38px;
  top:312px;
  width:349px;
  height:48px;
}
#u905 {
  position:absolute;
  left:2px;
  top:16px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
